[flake8]
select = ANN, BLK, C, D, E, F, I, W
# D107 Missing docstring in __init__
# D212 Multi-line docstring summary should start at the first line
# E203 Whitespace before ‘:'
# W503 Line break before binary operator
ignore = D107, D212, E203, W503
max-complexity = 10
max-line-length = 88
application-import-names = goodtables_pandas, tests
import-order-style = google
docstring-convention = google
